<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>907765409496-n8304rhpo0bqp5f6cvqgqpfj7bjv8v2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907765409496-n8304rhpo0bqp5f6cvqgqpfj7bjv8v2m</string>
	<key>API_KEY</key>
	<string>AIzaSyBjHk6V2Fxso4G-RmnpI84vCtKEzD4KvX0</string>
	<key>GCM_SENDER_ID</key>
	<string>907765409496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iPersianDev.app.Glasor</string>
	<key>PROJECT_ID</key>
	<string>gelasor-b2823</string>
	<key>STORAGE_BUCKET</key>
	<string>gelasor-b2823.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907765409496:ios:868403fc0a040805</string>
	<key>DATABASE_URL</key>
	<string>https://gelasor-b2823.firebaseio.com</string>
</dict>
</plist>